<footer class="footer">
  <small>
    Calendar Dates by 
    <a href="http://www.oscarwinglee.me">Oscar Lee</a>
  </small>
  <nav>
    <ul>
      <!--<li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>-->
      <li><a href="https://github.com/owlee/">Github</a></li>
    </ul>
  </nav>
</footer>