<!-- app/views/layouts/application.html.erb -->

<!DOCTYPE html>
<html>
  <body>
    <div id="main-container" class="container">
      <div class="row">
      	<%= yield %>
        <div id="sidebar" class="col-xs-3">
          <!-- sidebar content -->
        </div>
        <div id="content" class="col-xs-9">
          <!--  main content -->
        </div>
      </div>
    </div>
  </body>
</html>
